<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">


</head>
<body>
<h1>정보 수정</h1>
<div class="myInfoForm">
    <h2>내 정보 수정</h2>
    <form name="myInfoForm">
        <div class="box">
            <input type="text" name="email" id="email" placeholder="email" class="iText" >
            <br>
            <input type="password" name="password" id="password" placeholder="password" class="iText">
            <br>
            <input type="text" name="name" id="name" placeholder="name" class="iText">
            <br>
        </div>
        <input type="button" name="submit" value="수정하기" id="submitEditMyInfo">
    </form>
</div>


<div class="storeRegForm">
    <h2>가게 정보 수정</h2>
    <form name="storeRegForm" id="storeRegForm">
        <div class="box">
            <input type="text" name="name" id="s_name" placeholder="이름" class="iText" >
            <br>
            <input type="text" name="address" id="s_address" placeholder="주소" class="iText" >
            <br>
            <input type="text" name="introduction" id="s_intro" placeholder="설명" class="iText" >
            <br>
            <input type="text" name="business_hour" id="s_hour" placeholder="시간" class="iText" >
            <br>
            <input type="text" name="holiday" id="s_holiday" placeholder="쉬는날" class="iText">
            <br>
            <input type="text" name="phone" id="s_phone" placeholder="연락처" class="iText">
            <br>
            <div class="filebox">
                <div id="s_image" style="width:150px; max-width:150px; height:150px; border:1px solid #000; overflow: hidden; "></div>
                <input type="file" name="image" id="s_image_file" accept="image/*" capture="camera" onchange="getThumbnailPrivew(this,$('#s_image'))" />
            </div>
            <p>
            </p>
        </div>
        <input type="button" name="submit" value="가게정보수정" id="submitStoreInFo">
    </form>
</div>


<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
</script>
<script src="../controller/commonCtrl.js"></script>
<script src="../controller/editInfoCtrl.js"></script>
<script language="javascript" type="text/javascript" src="../controller/uploadCtrl.js"></script>

</body>
</html>