<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../lib/justifiedGallery.min/justifiedGallery.min.css">


</head>
<body>

  <h1>Gallery!</h1>
  <button id="logOut">로그아웃</button>
  <button id="editMyInfo">내 정보 수정</button>
  <button id="addItem">상품 등록</button>  
  <div id="mygallery" >
    <a class="itemImg" id="1">
        <img alt="Title 1" src="../imgs/1.png"/>
    </a>
    <a class="itemImg" id="2">
      <img alt="Title 2" src="../imgs/2.png"/>
    </a>
    <a class="itemImg" id="3">
      <img alt="Title 3" src="../imgs/3.png"/>
    </av>
    <a class="itemImg" id="4">
      <img alt="Title 4" src="../imgs/4.png"/>
    </a>
    <!-- other images... -->
  </div>


  <script  
    src="https://code.jquery.com/jquery-1.12.4.min.js"  
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" 
    crossorigin="anonymous">
  </script>
  <script src="../lib/justifiedGallery.min/jquery.justifiedGallery.min.js"></script>    
  <script src="../controller/commonCtrl.js"></script>
  <script src="../controller/listCtrl.js"></script>
  <script language="javascript" type="text/javascript" src="../controller/uploadCtrl.js"></script>

</body>
</html>