<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/style.css">


</head>
<body>

 <div class="loginForm">
        <form name="loginForm" >
           <div class="box">
            <input type="text" name="email" id="email" class="iText">
            <br>
            <input type="password" name="password" id="password" class="iText">
            <br>
            <p>
              <span class="fright">
                <a href="signup.html">회원 가입</a>&nbsp;|&nbsp;
              </span>
            </p>
          </div>
          <input type="button" name="submit" value="로그인" id="submitLogin"> 
        </form>
      </div>



  <script  
    src="https://code.jquery.com/jquery-1.12.4.min.js"  
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" 
    crossorigin="anonymous">
  </script>
  <script src="../controller/commonCtrl.js"></script>
  <script src="../controller/loginCtrl.js"></script>

</body>
</html>