<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<!--
  <form id="data-form">
    <div class="form-group">
      <label for="image">image 최대4개:</label>
      <input id="image" type="file" class="form-control" name="image" multiple accept="image/*">
      </br>

      <label for="storeID">storeID:</label>
      <input id="storeID" type="text" class="form-control" name="storeID" />
      </br>

      <label for="name">name:</label>
      <input id="name" type="text" class="form-control" name="name" />
      </br>

      <label for="tag">tag:</label>
      <input id="tag" type="text" class="form-control" name="tag" />
      </br>

      <label for="category">category:</label>
      <input id="category" type="text" class="form-control" name="category" />
      </br>

      <label for="price">price:</label>
      <input id="price" type="text" class="form-control" name="price" />
      </br>

      <label for="contents">contents:</label>
      <input id="contents" type="text" class="form-control" name="contents" />
      </br>

      <button id="submit-btn" type="button" class="btn btn-default">제출</button>
    </div>
  </form>

  -->
  <h1>업로드!!</h1>
  <form name="uploadForm" id="uploadForm" action="" method="post" enctype="multipart/form-data" autocomplete="off">
    <label for="item_name">이름 :</label>
    <input id="item_name" type="text" class="form-control" name="name" />
    </br></br>

    <label for="item_category">분류 :</label>
    <input id="item_category" type="text" class="form-control" name="category" />
    </br></br>

    <label for="item_price">가격 :</label>
    <input id="item_price" type="text" class="form-control" name="price" />
    </br></br>

    <label for="item_content">내용 :</label>
    <input id="item_content" type="text" class="form-control" name="content" />
    </br></br>

    <div style="overflow:hidden">
      <div class="filebox" style="float: left;">
          <div id="item_image1" style="width:150px; max-width:150px; height:150px; border:1px solid #000; overflow: hidden; "></div>
          <input type="file" name="image1" id="item_file1" accept="image/*" capture="camera" onchange="getThumbnailPrivew(this,$('#item_image1'))" />
      </div>

      <div class="filebox" style="float: left;">
          <div id="item_image2" style="width:150px; max-width:150px; height:150px; border:1px solid #000; overflow: hidden; "></div>
          <input type="file" name="image2" id="item_file2" accept="image/*" capture="camera" onchange="getThumbnailPrivew(this,$('#item_image2'))" />
      </div>

      <div class="filebox" style="float: left;">
          <div id="item_image3" style="width:150px; max-width:150px; height:150px; border:1px solid #000; overflow: hidden; "></div>
          <input type="file" name="image3" id="item_file3" accept="image/*" capture="camera" onchange="getThumbnailPrivew(this,$('#item_image3'))" />
      </div>

      <div class="filebox" style="float: left;">
          <div id="item_image4" style="width:150px; max-width:150px; height:150px; border:1px solid #000; overflow: hidden; "></div>
          <input type="file" name="image4" id="item_file4" accept="image/*" capture="camera" onchange="getThumbnailPrivew(this,$('#item_image4'))" />
      </div>
    </div>

    </br></br>
    
    <input type="button" name="submit" value="확인" id="submitUpload"> 

</form>

  <script  
    src="https://code.jquery.com/jquery-1.12.4.min.js"  
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" 
    crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../controller/commonCtrl.js"></script>
  <script language="javascript" type="text/javascript" src="../controller/uploadCtrl.js"></script>
</body>
</html>